.one {
    margin-left:70px;
	margin-right:70px;
	background-position:center;
    background-repeat:no-repeat;
	background-size:contain;
	box-shadow:5px 5px black;
}

.two ul {
	
    list-style-type: none;
   
    padding: 0;
    overflow: hidden;
    background-color: #333;
	margin-left:none;
}


.two li {
    float: left;
}


.two li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.two li a:hover {
    background-color: #111;
}
 {
    overflow: hidden;
    background-color: #333;
} 


.three
{
float:left;
}
.three ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 10px;
    width: 270px;
    background-color:grey;
}

.three li a {
    display: block;
    color: red;
    padding: 8px 16px;
    text-decoration: none;
}


.three li a:hover {
    background-color: black;
}

.four
{ 
float:left;
margin-left:100px;
margin-right:100px;
margin-top:50px;
}
.five
{ 
float:left;
margin-left:100px;
margin-right:100px;
box-shadow:5px 5px 5px 2px  #999;
transition:all 0.4s;
}
.five:hover{
	opacity:0.96;
transform:scale(0.8,0.8);
	}
.six{ 
float:left;
margin-left:100px;
margin-right:100px;
box-shadow:5px 5px 5px 2px  #999;
transition:all 0.4s;
}
.six:hover
{opacity:0.96;
transform:scale(0.8,0.8);
	
}
.seven
{ 
float:left;
margin-left:100px;
margin-right:100px;
margin-top:50px;
box-shadow:5px 5px 5px 2px  #999;
transition:all 0.4s;
}
.seven:hover
{opacity:0.96;
transform:scale(0.8,0.8);
	
}
.eight
{ 
float:left;
margin-left:100px;
margin-right:100px;
margin-top:50px;
box-shadow:5px 5px 5px 2px  #999;
transition:all 0.4s;
}
.eight:hover
{opacity:0.96;
transform:scale(0.8,0.8);
	
}
.aa{
	height:1000px;
}

.asd{
	text-decoration:none;
	color:black;
	padding:15px 32px;
	background-color:green;
	box-shadow:5px 5px 5px 2px  #999;
	float:right;
	transition:all 0.4s;
}
.asd:hover{
	background-color:white;
	border:2px solid green;
}
.to
   {
    
    background-color="red";
    width:1000px;
    margin-top:100px;
    margin-left:30px;
font-size:16px;
    padding-left:500px;
    
   }

.egs{
padding-left:500px;
}

.eg{
width:800px;
}
}
